<launch>
    <node 
        pkg="iiwa_myo" 
        name="give_roll" 
        type="give_roll.py"
        launch-prefix="xterm -e"
    />
    <node 
        pkg="rosbag" 
        name="rosbag_record" 
        type="record"
        args="record -o /home/iiwacomputer/catkin_ws/src/iiwa_myo/handover_test_2/test_2_bagfiles/give_roll /myo_raw/myo_ori_deg"
    />
</launch>

