<launch>
    <node 
        pkg="robotiq_c_model_control" 
        name="CModelRtuNode" 
        type="CModelRtuNode.py"
        args="/dev/ttyUSB0"
    />
    <node 
        pkg="iiwa_myo" 
        name="force_control" 
        type="force_control.py"
        launch-prefix="xterm -e"
    />
    <node 
        pkg="iiwa_myo" 
        name="torque_control" 
        type="torque_control.py"
    />
</launch>
